<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Lista użytwkonikow</title>
    </head>
    <body>
            <h1>Lista użytkowników</h1>
            <table>
                <thread>
                    <tr>
                        <th>Id</th>
                        <th>Imię</th>
                        <th>Email</th>
                    </tr>
                </thread>
                <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table>
            <h2>Dodaj uzytkownikow</h2>
            <form action="/users" method="post">
                <label for="name">Imię:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <br>
                <button type="submit">Dodaj uzytkownika</button>
            </form>
    </body>
</html>